@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.parent {
  background-color: #12121a;
  color: #fff;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}
.parent.active {
  background-color: #f2f2f2;
  color: #12121a;
}

.navigation ul{
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 15px;
  font-size: 15px;
  list-style-type: none;
}
.forms {
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 10px 20px 10px;
}

.forms form, .debtors {
  border: 2px solid #ffffff84;
  border-radius: 5px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}
.parent.active form, .parent.active .debtors {
  border-color: #12121a53;
}

.forms input, .forms textarea, .forms button {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #12121a53;
  font-weight: 500;
  font-size: 12px;
  box-sizing: border-box;
  font-family: inherit;
  transition: all .3s ease-in-out;
}
.forms input:hover, .forms textarea:hover, .forms input:focus, .forms textarea:focus, .forms form:hover {
  border-color: #fff;
}
.parent.active .forms input:hover, .parent.active .forms textarea:hover, .parent.active .forms input:focus, .parent.active .forms textarea:focus, .parent.active .forms form:hover {
  border-color: #12121a;
}
.forms textarea {
  height: 100px;
}
.forms button {
  text-transform: uppercase;
  font-weight: 600;
  background-color: #fff;
  cursor: pointer;
}

.forms .toggle {
  position: absolute;
  right: 0;
  top: 45vh;
}
.forms button:hover {
  background-color: #000;
  border-color: #fff;
  color: #fff;
}

.debtors {
  margin: 10px auto 0 auto;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 10px;
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: 0;
  &::-webkit-scrollbar {
    display: none;
  }
}
.debtors .debtor {
  border: 1px solid green;
  background-color: #12121a53;
  border-radius: 5px;
  border: 2px solid #ffffff84;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
}
.parent.active .debtor {
  background-color: #12121ac8;
}

@media screen and (max-width: 750px) {
  .forms form, .debtors {
    width: 100%;
  }
}