@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.parent {
  padding: 10px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.navigation ul{
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 15px;
  font-size: 15px;
  list-style-type: none;
}
.home {
  font-size: 1em;
  margin-top: 30px;
  text-align: center;
}
.home h1{
  font-size: 1.5em;
}
.home p {
  font-weight: 500;
  font-size: 1em;
}

.card {
  width: 100%;
  margin: 10px auto;
  box-sizing: border-box;
  text-align: center;
  padding: 5px;
}


.load {
  color: red;
  display: none;
}
.load.active {
  display: block;
}
.user {
  display: grid;
  width: 50%;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
  gap: 10px;
  border: 1px solid red;
}

.user img {
  width: 100px;
  margin-top: 10px;
  border-radius: 10%;
}
button {
  margin: 10px auto;
  text-transform: uppercase;
  padding: 10px 20px;
  width: 50%;
  display: block;
}
.card input {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid blue;
  margin: 10px auto;
  font-family: inherit;
}
ul {
  width: 50%;
  border: 1px solid red;
  list-style-type: disc;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  text-align: left;
}

@media screen and (max-width: 500px) {

  .user, ul, .card input, button {
    width: 100%;
  }
  .user {
    grid-template-columns: 1fr 1fr;
    border: none;
  } 
  ul, .user {
    border: none;
  }
}